<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Contact Us</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <section class="contact">
    <div class="content">
        <h2> Contact Us.</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque aperiam quisquam voluptate voluptas. Numquam alias consequuntur deleniti expedita sequi itaque?</p>
    </div>
    <div class="container">
        <div class="contactInfo">
            <div class="box">
                <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Address</h3>
                    <p>15/87 Bangphun,</p><br>Pathumthani<br>12000</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Phone</h3>
                    <p>063-7686723</p>
                </div>
            </div>
        <div class="box">
            <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
            <div class="text">
                <h3>Email</h3>
                <p>Patchapon.pann@bumail.net</p>
            </div>
        </div>
    </div>
        <div class="contactForm">
            <form>
                <h2>Send Massage</h2>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <textarea required="required"></textarea>
                    <span>Type Your Massage...</span>
                </div>
                <div class="inputBox">
                    <input type="submit" name="" value="send">
                </div>
            </form>
        </div>
    </div>
</div>
    </section>
    
</body>
</html>