<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="main.css">
    <title>main</title>
</head>
<body>
    <div class="container bg">
        <div class="navBar">
          <div class="logo">
            <a href="index.html"><img src="Publis/logo.png"></a>
            </a>
          </div>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="Home">About</a></li>
            <li><a href="Contact us">Contact Us</a></li>
          </ul>
        </div>
      
        <div class="content">
          <div class="phuket" style="width:50%;">
            <div class="tnx">
              <h2><i class="fas fa-map-marker-alt"></i> About</h2>
            </div>
            <div class="txt">
              <h1>Life</h1>
              <h1>Style</h1>
            </div>
            <p>ใช้ชีวิตอย่างสร้างสรรค์ ตอบโจทย์ Lifestyle อย่างลงตัว กับหน้าหมวดหมู่ “LIFESTYLE” ของพวกเรานิตยสารออนไลน์ที่นำเสนอเรื่องราวดีๆ เกี่ยวกับกิจกรรมด้านไลฟ์สไตล์ที่น่าสนใจ อัปเดตเทรนด์ไลฟ์สไตล์ใหม่ ๆ จากทั่วทุกมุมโลก</p>
          </div>
          <div class="card" style="width:50%;">
            <a href="Lifestyle" target="_blank">
              <div class="box1">
                <h2>Lifestyle</h2>
              </div>
            </a>
            <a href="Healthy" target="_blank">
              <div class="box2">
                <h2>Healthy</h2>
              </div>
            </a>
            <a href="Green" target="_blank">
              <div class="box3">
                <h2>Green</h2>
              </div>
            </a>
            <a href="Business" target="_blank">
              <div class="box4">
                <h2>Business</h2>
              </div>
            </a>
            <!--       <div class="box2">
              <h2>Island</h2>
            </div>
            <div class="box3">
              <h2>Mountain</h2>
            </div>
            <div class="box4">
              <h2>Scenery</h2>
            </div> -->
          </div>
        </div>
      
      </div>
</body>
</html>